<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="/assets/LOGO_STARGAZING.png" alt="Logo" width="200">
      <div id="links" class="container-fluid">
        <a class="navbar-brand p-3" href="#">Home</a>
        <a class="navbar-brand p-3" href="#">Tours</a>
        <a class="navbar-brand p-3" href="#">Blogs</a>
        <a class="navbar-brand p-3" href="#">FAQ</a>
        <a class="navbar-brand p-3" href="#">ADObs</a>
        <a class="navbar-brand p-3" href="#">Contacto</a>
      </div>
      <button class="btn btn-primary" (click)="onCrud()">RESERVAR</button>
    </div>
  </nav>
  
  <div id="fondo" class="container-fluid bg-dark">
    <div id="main" class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h1>Descubre el universo de una manera nunca antes vista.</h1>
          <div id="mainbutton" class="container">
            <button class="btn btn-primary">Ver Tours Disponibles</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="info" class="container-fluid bg-dark">
    <div class="container ">
      <div class="row ">
        <div class="col-sm-2 "></div>
        <div class="col-sm-3 ">
          <h1>Experimenta la belleza del cielo nocturno</h1>
        </div>
        <div class="col-sm-6 ">
          <p>¿Quieres vivir una experiencia única y emocionante? Te invitamos a descubrir el universo con nuestro equipo de astrónomos expertos. Con nuestros telescopios de alta calidad, te llevaremos a través de un viaje celestial que te dejará sin aliento. <br><br>  Observa de cerca planetas y estrellas, y descubre el espectáculo celestial que se despliega sobre nuestras cabezas. Prepárate para ver el cielo como nunca antes lo has visto y vive una aventura única en el corazón del desierto. ¡No te pierdas esta oportunidad única de explorar el universo de una manera nunca antes vista!</p>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div id="tours" class="container ">
        <div class="row ">
          <div class="col-sm-3">
            <img id="AstroLunar" src="/assets/TOUR_ASTROLUNAR.png" alt="AstroLunar">
          </div>
          <div class="col-sm-3">
            <img id="AstroFotoPriv" src="/assets/TOUR_ASTRO_FOTO_PRIV.jpg" alt="AstroFotoPriv">
          </div>
          <div class="col-sm-3">
            <img id="AstroPriv" src="/assets/TOUR_ASTRO_PRIV.jpg" alt="AstroPriv">
          </div>
          <div class="col-sm-3">
            <img id="AstroGroup" src="/assets/TOUR_ASTRO_GRP.jpg" alt="AstroGroup">
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-3 ">
            <h2>Tour AstroLunar</h2>
          </div>
          <div class="col-sm-3">
            <h2>Tour Astro Fotografico Privado</h2>
          </div>
          <div class="col-sm-3">
            <h2>Tour Astronomico Privado</h2>
          </div>
          <div class="col-sm-3">
            <h2>Tour Astronomico en Grupo</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Contenedor del formulario y contacto-->
    <div class="container-fluid ">
      <div class="row">
        <div class="col-sm-1"></div>
  
    <!-- Contenedor del formulario -->      
        <div id="form" class="col-sm-5 ">
          <div class="container-fluid ">
            <div class="row">
              <div class="col-sm-12">
                <h4>Escribenos un mensaje</h4>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label for="">Nombre</label>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <input class="form-control" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label for="">Pronombre de preferencia</label>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <input class="form-control" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label for="">Email</label>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <input class="form-control" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label for="">Asunto</label>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <input class="form-control" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label for="">Mensaje</label>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <input class="form-control" type="text">
                  </div>
                </div>    
                <div class="container text-center">
                  <button class="btn btn-primary text-center">Enviar</button>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
        <div class="col-sm-5">
          <div id="contact" class="container">
            <div class="row">
              <div class="col-sm-12">
                <h4>Información de contacto</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 mt-2 mb-3">
                <h5>llamastargazing gmail.com</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 mb-3">
                <h5>Tulor 1410000 San Pedro de Atacama Antofagasta, Chile.</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h5>9 9139 5701</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 mb-2">
                <h4>Horario de atencion</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h5>Todos los días de 10:00 a 0:00</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4>Encuentranos en</h4>
              </div>
              <div class="col-sm-6">
                <img src="/assets/ig.png" width="45" alt="Instagram">
                <img src="/assets/wsp.png" width="45" alt="Whatsapp">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <nav id="foot" class="navbar navbar-expand-lg">
    <div class="container-fluid p-5">
      <div id="apoyo" class="container">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-2">
            <h5 class="p-4">APOYADO POR</h5>
          </div>
          <div class="col-sm-2">
            <img class="w-75" src="\assets\support\Corfo-Antofagasta.png" alt="">
          </div>
          <div class="col-sm-2">
            <img class="w-75" src="\assets\support\Logos-GORE-y-ERI-BN.png" alt="">
          </div>
          <div class="col-sm-2">
            <img class="w-75" src="\assets\support\Logos-ERI-BN-1.png" alt="">
          </div>
          <div class="col-sm-2">
            <img class="w-50" src="\assets\support\Consejo-Regional.png" alt="">
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="row">
          <div class="container">
            <h6>Llama Stargazing 2024 C - Todos los derechos reservados. Desarrollado por Mi, Carlos mejor conocido como Ethereal Rose</h6>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
